.lobby-box{
    display: flex;
    justify-content: space-around;
}
.lobby-activeUser, .lobby-requestUser{
    width: 45%;
    text-align: center;
    display: inline-block;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
}

.lobby-heading{
    color:white;
    font-weight: bold;
    font-size: x-large;
    text-shadow: 0 0 5px white;
}

.join-card{
    padding: 10px 5px;
    border-radius: 20px;
    width: 75%;
    margin: auto;
    background-color: #86b3bdd9;
}

.join-card-username{
    font-size: 18px;
    font-weight: bold;
}

.join-card-button{
    margin:2px 5px;
    border:2px solid;
    background-color: skyblue;
    color:white;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}